In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

%matplotlib inline

WARNING:tensorflow:From c:\Users\brian\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
df = pd.read_json('transactions.txt', lines=True)

df.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,,0.0,,,,False,,,False,False
1,737265056,737265056,5000,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,,0.0,,,,True,,,False,False
2,737265056,737265056,5000,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
3,737265056,737265056,5000,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
4,830329091,830329091,5000,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,,0.0,,,,True,,,False,False

## Data Cleaning

In [3]:
# Replacing white space with nan

df = df.replace('', np.nan)

In [5]:
# Checking which columns are empty and removing

nan_col = df.columns[df.isna().all()].tolist()
df.drop(columns=nan_col, inplace=True)

print("Empty columns that were removed:")
print(nan_col)

Empty columns that were removed:
['echoBuffer', 'merchantCity', 'merchantState', 'merchantZip', 'posOnPremises', 'recurringAuthInd']

In [6]:
# Account Number and Customer Id columns appear to be equal

df['accountNumber'].equals(df['customerId'])

True

In [7]:
# Removing customerId as it is a duplicate of accountNumber

df.drop(columns=['customerId'], inplace=True)

In [8]:
# Exploring transactionType column

df['transactionType'].unique()

array(['PURCHASE', 'ADDRESS_VERIFICATION', 'REVERSAL', nan], dtype=object)

In [9]:
# counts of unique values in transactionType

df['transactionType'].value_counts(dropna=False)

PURCHASE                745193
REVERSAL                 20303
ADDRESS_VERIFICATION     20169
NaN                        698
Name: transactionType, dtype: int64

In [10]:
# describing transactionAmount base on transactionType.
df.groupby('transactionType')['transactionAmount'].describe()

,count,mean,std,min,25%,50%,75%,max
transactionType,,,,,,,,
ADDRESS_VERIFICATION,20169.0,0.000000,0.000000,0.0,0.000,0.00,0.00,0.00
PURCHASE,745193.0,140.621698,147.942584,0.0,37.110,91.80,195.45,2011.54
REVERSAL,20303.0,138.984017,147.889733,0.0,33.375,92.01,192.98,1435.64

In [11]:
# Removing address_verification rows due to all of the transactionAmounts being 0.

df.drop(df[df['transactionType'] == 'ADDRESS_VERIFICATION'].index, inplace=True)

In [12]:
# Filling NaN with purchase to keep data

df['transactionType'] = df['transactionType'].fillna('PURCHASE')

In [14]:
# checking which columns contain NaN values
df.isnull().sum()

accountNumber                  0
creditLimit                    0
availableMoney                 0
transactionDateTime            0
transactionAmount              0
merchantName                   0
acqCountry                  4456
merchantCountryCode          709
posEntryMode                3970
posConditionCode             400
merchantCategoryCode           0
currentExpDate                 0
accountOpenDate                0
dateOfLastAddressChange        0
cardCVV                        0
enteredCVV                     0
cardLast4Digits                0
transactionType                0
currentBalance                 0
cardPresent                    0
expirationDateKeyInMatch       0
isFraud                        0
dtype: int64

In [17]:
# Total amount of rows with NaN values
df.isnull().any(axis=1).sum()

8804

In [18]:
# Dropping all rows with NaN value
df = df.dropna()

In [20]:
# Dropping merchantName as merchantCategory will be used
df.drop(columns=['merchantName'], inplace=True)

## Encoding

In [22]:
# Unique values in merchantCategoryCode
merch_cat = df['merchantCategoryCode'].unique()
merch_cat

array(['rideshare', 'entertainment', 'mobileapps', 'fastfood',
       'food_delivery', 'auto', 'online_retail', 'gym', 'health',
       'personal care', 'food', 'fuel', 'online_subscriptions',
       'online_gifts', 'hotels', 'airline', 'furniture', 'subscriptions',
       'cable/phone'], dtype=object)

In [ ]:
# One-hot encoding for merchantCategoryCode